<main id="app">
    <div class="main-layout-wrapper">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent m-0 pl-0">
                
            </ol>
        </nav>
        <div class="d-flex" style="height: calc(-6rem + 100vh);">
            <div style="flex: 1 0 0%;">
                <div class="main-layout-card mb-75">
                    <div class="main-layout-card-content p-2">
                        <div class="row mx-0">
                            <div class="col-md-3 px-0 pl-md-2">
                                <div class="dropdown keep-inside-clicks-open w-100 product-category-filter"><button
                                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="btn btn-block btn-outline-dark dropdown-toggle d-flex justify-content-between align-items-center">
                                        Category
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="category-options-wrapper custom-scrollbar">
                                            <div class="row mx-0">
                                                <div class="col-6">
                                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                            id="product-category3" class="custom-control-input"
                                                            value="3"> <label for="product-category3"
                                                            class="custom-control-label">Kids</label></div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                            id="product-category2" class="custom-control-input"
                                                            value="2"> <label for="product-category2"
                                                            class="custom-control-label">Women</label></div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                            id="product-category1" class="custom-control-input"
                                                            value="1"> <label for="product-category1"
                                                            class="custom-control-label">Men</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center filter-footer"><a
                                                href="#" class="app-color-text">Clear</a> <button class="btn app-color">
                                                Apply
                                            </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row all-products mr-0 custom-scrollbar">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" data-target="#show-product-variant-modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/t-shirt_man.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div
                                                class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center ">
                                                <span class="limit"> Cotton Short Sleeve T-shirt </span></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/black_full_sleeves.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Cotton Long Sleeve T-shirt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $510.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" data-target="#show-product-variant-modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/narrow_three_quarter_pant.jpg&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div
                                                class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center ">
                                                <span class="limit"> Narrow Three Quarter Pant </span></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/cotton_full_sleves_ash.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Cotton Long Sleeve T-shirt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $535.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" data-target="#show-product-variant-modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/black_t-shirt.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div
                                                class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center ">
                                                <span class="limit"> Cotton Black T-shirt </span></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/belt.jpg&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Leather Belt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $4,500.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/full_jeans_pant.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Jeans Full Pant </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/yellow_t-shirt_man.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Yellow T-shirt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/red_shirt_man.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Male Red T-shirt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/sporty_tracks.jpg&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Sporty Track Pants </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/red_t-shirt_woman.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Red Tops </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/cotton_full_pant_woman.jpg&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Cotton Full Pant </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $515.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/short_pant.jpg&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Jeans Short Pant </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $530.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Leather Wallet </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $575.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Female Scarf </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $900.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/black_tie.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Tie </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $1,800.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Ladies Belt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $55.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Ladies Yellow T-shirt </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $55.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Cotton Long Sleeve T-shirt For Ladies
                                                        </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $55.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 pr-0 mb-75 pl-75 standard-product"><a href="#"
                                data-toggle="modal" class="app-color-text">
                                <div class="product-card bg-white rounded">
                                    <div class="product-img-container image-property"
                                        style="background-image: url(&quot;https://pos.gainhq.com/uploads/products/no_image.png&quot;);">
                                    </div>
                                    <div class="product-card-content product-content" style="height: 54.3906px;">
                                        <div class="position-relative h-100">
                                            <div class="">
                                                <div class="h-100">
                                                    <div
                                                        class="p-2 h-100 d-flex align-items-center product-card-font font-weight-bold text-center justify-content-center">
                                                        <span class="limit"> Cap </span></div>
                                                </div>
                                                <div
                                                    class="product-card-font position-absolute rounded-right app-color text-white product-price price-section">
                                                    $2,700.00
                                                </div>
                                                <div class="product-card-font warning-message text-white sold-out">
                                                    Out of stock
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div id="cartShow" style=""><a href="#" data-toggle="modal"
                                data-target="#cart-modal-for-mobile-view"><i class="la la-shopping-cart"></i></a></div>
                        <!----> <!---->
                    </div>
                </div>
            </div>
            <div id="layoutTop" style="position: relative; width: 30rem;">
                <div class="main-layout-card"
                    style="position: absolute; inset: 0px 0px 0px 0.75rem; min-height: 450px;"><!----></div>
            </div>
        </div>
        <div id="register-info-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered modal-lg"><!----></div>
        </div>
        <div id="cart-modal-for-mobile-view" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button type="button" data-dismiss="modal" class="close"><i
                                class="la la-close"></i></button></div>
                    <div id="cartBody" class="modal-body">
                        <div style="position: relative; width: 100%; margin-top: -20px; margin-bottom: -15px;">
                            <div class="main-layout-card" style="min-height: 90vh;"><span>
                                    <div id="cart-section-1" class="modal-layout-header p-0">
                                        <div class="sales-search p-2">
                                            <div class="row">
                                                <div class="col-10 col-12">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span
                                                                class="input-group-text"><i
                                                                    class="la la-user"></i></span></div> <input
                                                            type="text" placeholder="Search Branch" aria-label="Search"
                                                            aria-describedby="search"
                                                            class="form-control pr-4 rounded-right"> <!----> <!---->
                                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                                            <div class="px-3 py-1 text-center">
                                                                No result found
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                                            <div class="px-3 py-1 text-center">
                                                                No result found
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <!----> <!---->
                                            </div>
                                        </div> <!---->
                                    </div>
                                    <div id="cart-section-2"
                                        class="cart-items-wrapper h-100 d-flex align-items-center justify-content-center"
                                        style="max-height: 1px;"><span>
                                            Empty Cart
                                        </span></div>
                                    <div id="cart-section-3" class="position-absolute fixed-bottom product-card-font">
                                        <div class="row mx-0 px-3 py-2 font-weight-bold border-top border-bottom">
                                            <div class="col-6 p-0">
                                                Sub Total
                                            </div>
                                            <div class="col-6 p-0 text-right">
                                                $0.00
                                            </div>
                                        </div>
                                        <div class="row mx-0 px-3 py-2  border-bottom">
                                            <div class="col-6 p-0">
                                                Tax
                                            </div>
                                            <div class="col-6 p-0 text-right">
                                                $0.00
                                            </div>
                                        </div>
                                        <div id="pop_mouse1" class="row mx-0 px-3 py-2  border-bottom">
                                            <div class="col-6 p-0">
                                                Discount on all items (%)
                                                <!---->
                                            </div>
                                            <div class="col-3 p-0 text-center">
                                                <div role="group" class="btn-group dropright"></div>
                                            </div>
                                            <div class="col-3 p-0 text-right"><span><i
                                                        class="la la-edit discount-all-item-popover"></i>$0.00%
                                                </span></div>
                                        </div>
                                        <div id="pop_mouse2" class="row mx-0 px-3 py-2">
                                            <div class="col-6 p-0">
                                                Discount on subtotal
                                            </div>
                                            <div class="col-3 p-0 text-center">
                                                <div role="group" class="btn-group dropright"><!----></div>
                                            </div>
                                            <div class="col-3 p-0 text-right"><span><i
                                                        class="la la-edit discount-on-subtotal-popover"></i>$0.00
                                                </span></div>
                                        </div> <!---->
                                        <div class="row mx-0 px-3 py-2 border-top border-bottom">
                                            <div class="col-6 p-0"><span class="font-weight-bold">
                                                    Total
                                                </span> <span><span>( Tax</span> <span>Excluded )</span></span></div>
                                            <div class="col-3 p-0 text-center">
                                                <div role="group" class="btn-group dropright"></div>
                                            </div>
                                            <div class="col-3 p-0 text-right"><span><a data-toggle="modal"
                                                        data-target="#tax-edit-modal" href="#" class=""><i
                                                            class="la la-edit discount-all-item-popover"></i></a></span>
                                                <span class="col-6 p-0 font-weight-bold text-right">
                                                    $0.00
                                                </span></div>
                                        </div> <!----> <!----> <!---->
                                        <div class="p-3 border-bottom"><button data-toggle="modal"
                                                data-target="#cart-payment-modal" href="#" disabled="disabled"
                                                class="btn pay-btn app-color">
                                                Pay
                                            </button></div> <!---->
                                        <div class="row mx-0"><a href="#"
                                                class="col-4 p-0 text-center border-right hold-items disabled"><i
                                                    class="la la-recycle la-2x p-2 app-color-text hold-icon"></i>
                                                <!----></a> <a href="#"
                                                class="col-4 p-0 text-center border-right hold-cart disabled"><i
                                                    class="la la-pause la-2x p-2 text-warning"></i></a> <a href="#"
                                                data-toggle="modal" data-target="#clear-cart-modal"
                                                class="col-4 p-0 text-center clear-cart disabled"><i
                                                    class="la la-times-circle la-2x p-2 text-danger"></i></a></div>
                                    </div>
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="show-product-variant-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered big-modal-dialog"><!----></div>
        </div>
        <div id="supplier-add-edit-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered short-modal-dialog"><!----></div>
        </div>
        <div id="bank-transfer-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade modal-hide"
            style="overflow-y: hidden;">
            <div role="document" class="modal-dialog modal-dialog-centered"><!----></div>
        </div>
        <div id="branch-or-cash-register-select-modal" tabindex="-1" role="dialog" aria-hidden="true"
            class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered short-modal-dialog"><!----> <!----></div>
        </div>
        <div id="sales-or-return-type-select-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered">
                <div class="modal-content px-4 pb-4 pt-3">
                    <div><a href="#" data-dismiss="modal" aria-label="Close" class="close"><i
                                class="la la-close text-grey"></i></a>
                        <h6 class="mb-3 text-center">
                            Select Sales or Returns Type</h6>
                        <div class="list-group"><a href="#"
                                class="list-group-item list-group-item-action active">Sales</a> <a href="#"
                                class="list-group-item list-group-item-action">Returns</a> <a href="#"
                                class="list-group-item list-group-item-action">Sales List</a> <a href="#"
                                class="list-group-item list-group-item-action">Shipment List</a></div> <!----> <!---->
                    </div>
                </div>
            </div>
        </div>
        <div class="main-layout-card"><!----> <!----></div>
        <div id="increase-local-storage-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered">
                <div class="modal-content px-4 pb-4 pt-3 text-center">
                    <div class="my-2"><i class="la la-exclamation-circle la-5x text-info"></i></div>
                    <h5>Your local storage is full!</h5>
                    <h6>Are you want to increase your local storage?</h6>
                    <div class="my-4"><button class="btn app-color">
                            Yes
                        </button> <button class="btn btn-secondary cancel-btn mobile-btn">
                            No
                        </button></div>
                </div>
            </div>
        </div>
        <div id="sales-or-receiving-type-select-modal" tabindex="-1" role="dialog" aria-hidden="true"
            class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered">
                <div class="modal-content px-4 pb-4 pt-3">
                    <div><a href="#" data-dismiss="modal" aria-label="Close" class="close"><i
                                class="la la-close text-grey"></i></a>
                        <h6 class="mb-3 text-center">Select Sales or Receiving Type</h6>
                        <div class="list-group"><a href="#" class="list-group-item list-group-item-action">Customer</a>
                            <a href="#" class="list-group-item list-group-item-action active">Internal</a> <a href="#"
                                class="list-group-item list-group-item-action">Internal Transfer</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-select-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade modal-hide"
            style="overflow-y: hidden;">
            <div role="document" class="modal-dialog modal-dialog-centered biggest-modal-dialog"><!----></div>
        </div>
        <div id="cart-payment-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade modal-hide">
            <div role="document" class="modal-dialog modal-dialog-centered biggest-modal-dialog"><!----></div>
        </div>
        <div id="customer-add-edit-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered short-modal-dialog"><!----></div>
        </div>
        <div id="tax-edit-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered short-modal-dialog"><!----></div>
        </div>
        <div id="hold-orders-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
            <div role="document" class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="pt-2 px-4 pb-4"><a href="#" data-dismiss="modal" aria-label="Close" class="close"><i
                                class="la la-close text-grey"></i></a>
                        <h5 class="mb-3 text-center">
                            Hold Order List
                        </h5>
                        <div class="container-hold-orders">
                            <div class="row mr-0">
                                <div class="col-12 pr-0">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                    class="la la-search"></i></span></div> <label><input type="text"
                                                placeholder="Search Invoice" class="form-control rounded-right"></label>
                                    </div>
                                </div>
                                <div class="col-12 pr-0">
                                    <div>
                                        <p class="text-center">
                                            No result found
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" class="modal fade" id="clear-cart-modal">
            <div role="document" class="modal-dialog modal-dialog-centered confirm-delete-modal">
                <div class="modal-content"><button type="button" data-dismiss="modal" aria-label="Close"
                        class="close position-absolute absolute-right p-3"><span aria-hidden="true"><i
                                class="la la-close"></i></span></button>
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle text-center">
                            <h5>Are you sure?</h5> <!---->
                            <h6>This order will be cancelled.</h6>
                            <div class="mt-5"><button type="submit" class="btn btn-danger mobile-btn">
                                    Yes
                                </button> <button data-dismiss="modal"
                                    class="btn btn-secondary cancel-btn mobile-btn">No
                                </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>